.card {
  padding: 50px;
  background: #f1ede3cc;
  border-radius: 24px;
  backdrop-filter: blur(100px);
  color: #000;
  height: 100%;

  @media (max-width: 575px) {
    padding: 30px 20px;
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
      font-size: 32px;
      font-weight: 600;

      @media (max-width: 575px) {
        font-size: 28px;
      }
    }

    &__text {
      font-size: 18px;
      font-weight: 500;
    }
    &__wide-text {
      display: flex;
      gap: 30px;

      @media (max-width: 575px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
      }

      @media (max-width: 950px) {
        display: none;
      }

      p {
        width: 300px;
      }
    }

    a {
      text-decoration: underline;
      color: #e09837;
      font-weight: 700;
    }
    img {
      position: absolute;
      right: 0;
      top: 15px;
      @media (max-width: 575px) {
        position: relative;
        top: 0;
      }
    }
  }
}

.card__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  border-radius: 100px;

  height: 100%;
  background-color: #fe9a0c;
}

.wide {
  grid-column: span 2;

  @media (max-width: 950px) {
    grid-column: span 1;
  }

  .card {
    &__content {
      &__text {
        display: none;
        @media (max-width: 950px) {
          display: block;
        }
      }
      a {
        margin-left: 330px;
        @media (max-width: 950px) {
          margin-left: 0;
        }
      }
      img {
        @media (min-width: 950px) {
          right: 40px;
          top: 50%;
          transform: translateY(-50%);
          height: 70%;
        }
      }
    }
  }
}
