.about {
  max-width: 1200px;
  min-height: 421px;
  margin: 130px auto 0 auto;
  background-color: rgba(241, 237, 227, 0.8);
  color: black;
  border-radius: 32px 32px 0 0;
  padding: 60px 48px;
  z-index: -1;
  position: relative;

  @media (max-width: 1200px) {
    width: 95%;
    padding-bottom: 95px;
  }

  &__bg {
    background-image: url("/circles.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 850px;
    z-index: -2;
    position: absolute;
    bottom: 0;

    @media (min-width: 1440px) {
      // Позволяет избежать обрезки верхней границы элемента на больших экранах
      padding-top: calc((100% / 60%) * 1% + 57.7%);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 48px;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 34px;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    p {
      width: 326px;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
}
