@use "../main" as *;

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .nav-wrapper {
    padding: 24px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.brand {
  gap: 8px;
  pointer-events: none;
  user-select: none;
  p {
    font-size: 18px;
    font-weight: bold;

    span {
      color: $brand-yellow;
    }
  }
  @media (max-width: 580px) {
    p {
      font-size: 15px;
      span {
        color: #d49d43;
      }
    }
  }
}

.navigation {
  gap: 35px;
  font-size: 15px;
  font-weight: 500;

  .links {
    display: flex;
    gap: 32px;

    div {
      display: flex;
      gap: 5px;
    }
    div:hover {
      cursor: pointer;
    }

    :hover {
      cursor: pointer;
    }
  }

  @media (max-width: 580px) {
    .links {
      display: none;
    }
  }

  .menu {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 5.8px;
    align-items: flex-start;
    gap: 8px;
    display: none;
  }
  @media (max-width: 580px) {
    .menu {
      display: flex;
    }
  }
  .menu:hover {
    cursor: pointer;
  }
}

@media (max-width: 580px) {
  .navigation {
    gap: 8px;
  }
}
