@use "../main" as *;

.service {
  &__header {
    padding-top: 250px;
    padding-bottom: 20px;
    position: relative;

    @media (max-width: 765px) {
      padding-top: 160px;
    }
  }

  &__bg {
    position: absolute;
    top: -30px;
    height: 650px;
    z-index: -1;
    background-color: #4f5569;
    filter: blur(200px);
    border-radius: 50%;
    width: 100%;
    @media (max-width: 765px) {
      display: none;
    }
  }

  &__divider {
    position: absolute;
    box-sizing: border-box;
    width: min-content;
    top: -90px;
    left: 50%;
    height: 280px;
    width: 90%;
    max-width: 950px;
    background-image: url("/business.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: translate(-50%, 0);
    border-radius: 30px;
    @media (max-width: 950px) {
      height: 200px;
    }
  }
  &__divider::after {
    border-radius: 30px;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right,
      rgba(225, 153, 55, 0.16),
      rgba(225, 153, 55, 0.1),
      rgba(225, 153, 55, 0.06)
    );
  }
  &__content {
    text-align: center;

    &__title {
      font-size: 48px;
      font-weight: 600;

      @media (max-width: 765px) {
        font-size: 36px;
      }
    }

    &__secondary {
      font-size: 20px;
      font-weight: 500;
      width: 600px;
      margin: 16px auto;

      @media (max-width: 765px) {
        width: 90%;
        font-size: 18px;
      }

      span {
        color: $brand-yellow;
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      max-width: 95%;
    }
    @media (max-width: 950px) {
      grid-template-columns: 1fr;
      align-items: center;
    }
  }
}
